label{
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}
#lewy{
    float: left;
    width: 50%;
}
.line{margin: 20px;}
#wyb{
    margin-top: 50px;
    width: 200px;
    text-align: right;
    float: left;
}
